<div class="menu">
    <div>{{#link-to "add-todo" activeClass="selected menuItems"}}My Todos{{/link-to}}</div>
    <div>{{#link-to "songs" activeClass="selected menuItems"}}Songs{{/link-to}}</div>
</div>
{{add-songs songs=model}}